@import "../../global.scss";

.right {
  overflow: visible;
  .hamburger {
    overflow: visible;
    width: 1.8rem;
    height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    // not active but hovered
    &:hover {
      .line1,
      .line2,
      .line3 {
        // scale: 1.5;
        transition: all 0.3s ease-in-out;
        background-color: $textColor2;
      }
    }
    &.active {
      .line1,
      .line2,
      .line3 {
        width: 1.76rem;
        height: 0.18rem;
        background-color: $textColor1;
      }
      .line1 {
        transform: rotate(45deg);
        background-color: $textColor3;
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        background-color: $textColor3;
        transform: rotate(-45deg);
      }
    }
    .line1,
    .line2,
    .line3 {
      width: 2rem;
      height: 0.14rem;
      background-color: $textColor1;
      transform-origin: left;
    }
  }
}
