@import "../../global.scss";

.portfolio {
  background-color: $backgroundColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
  }

  .container {
    display: flex;
    width: 60rem;
    height: 18rem;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 35rem;
      height: 30rem;
      flex-direction: column;
    }

    .item {
      display: flex;
      height: 12rem;
      align-items: center;
      width: 60rem;
      overflow: hidden;
      @include mobile {
        width: 15rem;
        overflow: visible;
        height: 10rem;
        flex-direction: column-reverse;
      }

      .applink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40rem;
        @include mobile {
        }
        img {
          max-inline-size: 100%;
          block-size: auto;
          object-fit: contain;
          @include mobile {
            width: 35rem;

            height: 30rem;
            flex-direction: column;
          }
        }
      }
      .paragraph {
        margin: 1rem;
        overflow: hidden;
        font-size: 1.2rem;
        color: $textColor1;
        text-align: center;
        width: 20rem;
        @include mobile {
          width: 20rem;
          height: 5rem;
        }
      }

      @include tablet {
        width: 60%;
      }

      @include mobile {
        width: 30%;
        height: 100%;
      }
    }
  }
}
