@import "../../global.scss";

.portfolio{
  background-color: $backgroundColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1{
    font-size: 50px;
    color: $textColor1;
    @include mobile {
      margin-top: 10px;
      font-size: 30px;
    }
  }
  ul{
    z-index: 1;
    margin: 10px;
    padding: 0px;
    list-style: none;
    display: flex;
    color: $textColor1;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 0;
    }
  }
  .container{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include mobile {
      width: 100%;
    }
    .item{
      width: 40%;
      height: 60%;
      border-radius: 35px;
      border: 2px solid $textColor4;
      margin: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.4s ease;
      h5{
        display:none;
      }
      h3{
        color: white;
        font-size: 30px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        transition: all 0.4s ease;
      }
      .paragraph{
        overflow: hidden;
      }
      &:hover{
        background-color: $backgroundColor1;
        img {
          opacity: 0.5;
          z-index: 1;
        }
      }
      @include mobile {
        width: 130px;
        height: 130px;
        margin: 10px 10px;
      }
    }
    .item:first-child{
      width: 30%;
      height: 60%;
      .applink {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        cursor: pointer;
      }
    }
    .item:nth-child(2){
      width: 20%;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 3px solid $textColor5;
      background-color: $backgroundColor1;
      cursor: auto;
      .applink{
        display: none;
      }
      h3.title{
        display: none;
      }
      .icon-container{
        margin: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h5{
        display:contents;
        width: 70px;
      }
      img:nth-child(4){
        display: none;
      }
      img{
        opacity: 1;
        z-index: 1;
      }
      .container2{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        overflow: visible;
        a{
          overflow: visible;
        }
        .link{
          .hubby{
            height: 60px;
            width: 55px;
            border-radius: 30px;
            margin: 0px 15px;
          }
        }
        .link2{
          overflow: hidden;
          .herokuy{
            height: 65px;
            width: 42px;
            margin: 0px 15px;
          }
        }
        .ghpages{
          object-fit: fill;
          width: 60px;
        }
      }
    }
    .item:nth-child(3){
      width: 30%;
      height: 60%;
      border: 3px solid $textColor6;
      .applink{
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        img{
          object-fit: cover;
        }
      }
      .icon{
        display: none;
      }
      h5{
        display: none;
      }
    }
    .item:nth-child(4) {
      position: absolute;
      top:935px;
      height: 30px;
      color: $textColor1;
      border: 3px solid $textColor1;
    }
  }
}
