@import "../../global.scss";

@keyframes shadesMoveIn {
  0% {
    transform: translateX(-700%); /* Start off-screen */
  }
  100% {
    transform: translateX(180%); /* End at the center */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes resizeFaceImage {
  0% {
    width: 13rem;
  }
  25% {
    width: 12rem;
  }
  50% {
    width: 9rem;
  }
  75% {
    width: 12rem;
  }
  100% {
    width: 13rem;
  }
}

@keyframes rotateFaceImage {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorCycleImageBackground {
  0% {
    background-color: orange;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: orange;
  }
}
@keyframes borderColorAndWidthChange {
  0% {
    border: 10px solid blue;
  }
  25% {
    border: 10px solid red;
  }
  50% {
    border: 10px solid orange;
  }
  75% {
    border: 10px solid red;
  }
  100% {
    border: 10px solid blue;
  }
}

@keyframes borderRadiusCycleWobble {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 30%;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes hueChangeMainImage {
  0% {
    filter: sepia(1) hue-rotate(0deg);
  }

  25% {
    filter: sepia(1) hue-rotate(90deg);
  }

  50% {
    filter: sepia(1) hue-rotate(180deg);
  }

  75% {
    filter: sepia(1) hue-rotate(270deg);
  }
  100% {
    filter: sepia(100) hue-rotate(360deg);
  }
}
