@import "../../global.scss";
@import "./animations.scss";

.me {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  // Removed redundant mobile flex-direction/align-items as they match the base

  .left {
    height: 22rem;
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include mobile {
      flex: 0.5;
    }

    .dog, .dog2 {
      animation: hueChangeMainImage 4s infinite linear 5s;
      overflow: hidden;
    }

    .dog2 {
      transform: scaleX(-1); // Simplified: removed -moz, -webkit, and FlipH
    }

    .imgContainerOuter {
      max-width: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .imgContainer {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: hidden;
        // Fixed: Combined animation timing properly (removed extra commas)
        animation: 
          colorCycleImageBackground 4.8s infinite ease-out 4.8s,
          borderColorAndWidthChange 4.8s infinite ease-in-out 4.8s,
          borderRadiusCycleWobble 1s infinite ease-in 4.8s;

        .shades {
          padding-right: 2rem;
          position: absolute;
          overflow: hidden;
          max-width: 25%;
          max-height: 40%;
          animation: 
            shadesMoveIn 8s ease-out forwards,
            spin 4.8s infinite linear 4.8s;
        }

        @include mobile {
          align-items: flex-start;
          width: 12rem;
          height: 12rem;
        }

        .top {
          overflow: hidden;
          display: block;
          max-height: 100%;
          max-width: 100%;
          animation: 
            hueChangeMainImage 4s infinite linear 5s,
            rotateFaceImage 4.8s infinite linear 4.8s;

          @include mobile {
            width: 9rem;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    @include mobile {
      background-color: transparent;
      overflow: visible;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mobile {
        height: 60%;
      }

      h1, h2, h3 { margin: 0; } // Reset default browser margins

      h1 {
        color: $textColor4;
        margin: 10px 0;
        font-size: 60px;
        @include tablet { font-size: 2.9rem; }
        @include big-mobile { font-size: 2.3rem; }
        @include mobile { font-size: 2rem; }
      }

      h2 {
        color: blue;
        font-size: 35px;
        @include mobile { font-size: 1rem; }
      }

      h3 {
        color: $textColor6;
        font-size: 30px;
        padding-bottom: 0.5rem;
        @include tablet { font-size: 1.4rem; }
        @include big-mobile { font-size: 1rem; }
        @include mobile { font-size: 1rem; }

        span { color: $textColor3; }
        
        .ityped-cursor {
          animation: blink 0.65s infinite;
        }
      }

      .arrow-container-link {
        padding-top: 2rem;
        display: inline-block;
        width: 10rem;
        height: 5rem;

        @include mobile { padding-top: 0; }

        .arrow-container {
          display: flex;
          justify-content: center;
          width: 10rem;
          height: 5rem;
          cursor: pointer;

          @include mobile {
            padding-top: 2rem;}}}}}}  