@import "../../global.scss";
@import "./animations.scss";

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    // flex: 0.5;
    height: 22rem;
    display: flex;
    justify-content: space-around;
    width: 100%;    
  @include mobile {
      flex: 0.5;
    }
    .dog {
      // height: 20rem;
      animation: hueChangeMainImage 4s infinite linear;
      animation-delay: 5s;
      overflow: hidden;
    }
    .dog2 {
      animation: hueChangeMainImage 4s infinite linear;
      animation-delay: 5s;
      // height: 20rem;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    .imgContainerOuter{
      width: 20rem;
      // height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;

      // overflow: visible;

      .imgContainer {
        width: 18rem;
        // height: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        animation: colorCycleImageBackground 4.8s infinite, ease-out,
          borderColorAndWidthChange 4.8s infinite, ease-in-out,
          borderRadiusCycleWobble 1s infinite, ease-in;
        animation-delay: 4.8s;
        .shades {
          padding-right: 2rem;
          position: absolute;
          width: 11rem;
          height: 8rem;
          animation: shadesMoveIn 8s ease-out forwards,
            spin 4.8s infinite linear 4.8s;
          // animation-delay: 0s, 2s;
        }

        @include mobile {
          align-items: flex-start;
          width: 12rem;
          height: 12rem;
          overflow: hidden;
        }
        img {
          width: 13rem;
          animation: hueChangeMainImage 4s infinite linear,
            rotateFaceImage 4.8s infinite linear;
          animation-delay: 5s, 4.8s;
          // transition: all 0.8s ease;
          @include mobile {
            width: 9rem;
          }
        }
      }
    }
  }
  .right {
    // flex: 0.5;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 0rem;

    @include mobile {
      background-color: transparent;
      overflow: visible;
    }
    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mobile {
        padding-left: 0px;
        align-items: center;
        overflow: visible;
        height: 60%;
      }

      h1 {
        color: $textColor4;
        margin: 10px 0;
        font-size: 60px;
        @include tablet {
          font-size: 2.9rem;
        }
        @include big-mobile {
          font-size: 2.3rem;
        }

        @include mobile {
          margin-bottom: 0.5rem;
          font-size: 2rem;
          overflow: hidden;
        }
      }
      h2 {
        // color: $textColor2;
        color: blue;
        font-size: 35px;
        @include mobile {
          font-size: 1rem;
          overflow: hidden;
        }
      }
      h3 {
        color: $textColor6;
        font-size: 30px;
        padding-bottom: 0.5rem;
        @include tablet {
          font-size: 1.4rem;
        }
        @include big-mobile {
          font-size: 1rem;
        }
        @include mobile {
          font-size: 1rem;
          overflow: hidden;
          padding-bottom: 0.5rem;
        }
        span {
          color: $textColor3;
          padding-bottom: 0.5rem;
        }
        .ityped-cursor {
          animation: blink 0.65s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      .arrow-container-link {
        padding-top: 2rem;
        overflow: visible;
        // border: 2px solid red;
        display: inline-block;
        width: 10rem;
        height: 5rem;

        @include mobile {
          // border: 2px solid red;
          padding-top: 0rem;
        }

        .arrow-container {
          display: flex;
          justify-content: center;
          width: 10rem;
          height: 5rem;
          // border: 2px solid blue;
          cursor: pointer;
          // display: flex;
          // align-items: center;
          // justify-content: center;
          @include mobile {
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .arrow-1 {
            position: absolute;
            margin-right: 2.5rem;
            // left: 8.25rem;
            transition: all 0.4s ease;
            width: 5rem;
            height: 0.25rem;
            background-color: $textColor1;
            transform-origin: left;
            transform: rotate(40deg);
            animation: arrowBlink 1.2s infinite;
            &.active {
              background-color: $textColor3;
            }
          }
          .arrow-2 {
            position: absolute;
            margin-left: 2.5rem;
            transition: all 0.4s ease;
            width: 5rem;
            height: 0.25rem;
            transform: rotate(-40deg);
            background-color: $textColor1;
            transform-origin: right;
            animation: arrowBlink 1.2s infinite;
            &.active {
              background-color: $textColor3;
            }
          }
        }
        @keyframes arrowBlink {
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}
