@import "../../global.scss";

ul{
  overflow: visible;
  .portfolioList{
      transition:all .4s ease;
      font-size: 25px;
      margin-right: 50px;
      padding: 7px;
      // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      cursor: pointer;
      // border: dotted 2px $textColor2;
      // box-shadow: 1px 1px 1px 2px $textColor1;
      background:transparent;
      padding:0.3rem 0.3rem;
      margin:0 0.3rem;
      color: $textColor2;
      &:hover{
        // box-shadow: 0px 0px 0px 0px white;
        // border:dotted 2px $textColor1;
        transform: scale(1.1);
      }
    @include mobile {
      margin-right: 10px;
      margin-bottom: 20px;
    }
    &.active{
      color: $textColor3;
      // border:dotted 2px $textColor3;
    }
  }
}
