@import "../../global.scss";

ul {
  overflow: visible;
  .portfolioList {
    transition: all 0.4s ease;
    margin-right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    background: transparent;
    padding: 0.3rem 0.3rem;
    margin: 0 0.5rem;
    color: $textColor1;
    // font-size: 1.5rem;

    &.active {
      transform: translateY(-10px);
      text-decoration: underline;

      &:nth-child(1) {
        color: $textColor3;
        &:hover {
          color: $textColor3;
        }
      }
      &:nth-child(2) {
        color: $textColor4;
        &:hover {
          color: $textColor4;
        }
      }
      &:nth-child(3) {
        color: $textColor5;
        &:hover {
          color: $textColor5;
        }
      }
      &:nth-child(4) {
        color: $textColor6;
        &:hover {
          color: $textColor6;
        }
      }
    }

    &:hover {
      &:not(.active) {
        &:nth-child(1) {
          color: $textColor3;
        }
        &:nth-child(2) {
          color: $textColor4;
        }
        &:nth-child(3) {
          color: $textColor5;
        }
        &:nth-child(4) {
          color: $textColor6;
        }
      }
    }
    @include tablet {
      font-size: 10rem;
    }
    @include big-mobile {
      font-size: 10rem;
    }
    @include mobile {
      font-size: 0.75rem;
    }
  }
}
