@import "../../global.scss";
.works{
  background-color: $backgroundColor1;
  color: $textColor1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;


  .arrow{
    height: 70px;
    position: absolute;
    cursor: pointer;
    @include mobile {
      position: static;

    }
    &.left{
      left: 100px;
      transform: rotate(90deg);
    }
    &.right{
      right: 100px;
      transform: rotate(270deg);
    }
  }
  .slider{
    height: 18rem;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 0.6s ease-out;
    overflow: visible;

    // @include mobile{
    //   display: flex;
    //   flex-direction: column;
    // }
    .container{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      // @include mobile{
      //   overflow: hidden;
      // }

      .item{
        width: 700px;
        height: 100%;
        background-color: grey;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:8px 8px 4px -6px rgb(0, 0, 0);

        // @include mobile{
        //   width: 90%;
        //   height: 80%;
        //   margin: 10px 0;

        // }

        .left{
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-color: $backgroundColor2;

          .leftcontainer{
            width: 90%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .imgcontainer{
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }
            img{
              border-radius: 15px;
            }
            h2{
              font-size: 20px;
              color: $textColor1;

              @include mobile{
                font-size: 15px;
              }
            }
            p{
              font-size: 13px;
              color: $textColor1;

              @include mobile{
                font-size: 10px;
              }

            }
            span{
              font-size: 12px;
              font-weight: 600;
            // cursor: pointer;
              @include mobile{
                font-size: 10px;
              }

            }
          }
        }
        .right{
          flex: 8;
          height: 100%;
          width: 10rem;
          display: flex;
          background-color: $textColor2;
          overflow: hidden;
          justify-content: center;
          flex-direction: column;
          // flex-wrap: wrap;
          .img1{
            height: 19.1rem;
            width: 30rem;
            object-fit: cover;
            object-position: center -1.5rem;
          }
          .img2{
            object-fit: cover;
            height: 25rem;
            width: 30rem;
            // object-position: center -15rem;
          }


        }
      }
    }
  }
}
