@import '../../global.scss';

.intro {
  background-color: $backgroundColor2;
  display: flex;
  padding-top: 10px;

  //  padding top only required for smaller image centering
  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left{
    flex:0.5;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      flex: 0.5;
    }

    .imgContainer{
      width: 550px;
      height: 550px;
      background-color: $backgroundColor1;
      border-radius: 50%;
      border: 2px solid $textColor1;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      transition: all 0.3s ease;
      &:hover{
        background-color: rgba($color: #c778dd, $alpha: 0.2)
      }

      @include mobile {
        align-items: flex-start;
      }

      img{
        width: 65%;
        transition: all 0.6s ease;
        &.active {
          // filter: blur(3px);
          filter: invert(100%);
        }
        @include mobile {
          height: 80%;
          width: 80%;
        }
      }
      &.active {
        border: 2px solid $textColor3;
      }
    }
  }
  .right{
    flex:0.5;
    position: relative;

    @include mobile {
      background-color: transparent;
    }
    .wrapper{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      justify-content: center;

      @include mobile{
        padding-left: 0px;
        align-items: center;

      }

      h1{
        color: $textColor4;
        margin: 10px 0;
        font-size: 60px;
        @include mobile{
          font-size: 40px;
        }
      }
      h2{
        color: $textColor2;
        font-size: 35px;
        @include mobile{
          font-size: 25px;
        }
      }
      h3{
        color: $textColor6;
        font-size: 30px;
        @include mobile{
          font-size: 30px;
        }


        span{
          color: $textColor3;
        }
        .ityped-cursor {
          animation: blink 0.65s infinite;
        }
          @keyframes blink {
            50%{
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }

      }

      a{
        position: absolute;
        bottom: 50px;
        // bottom was also changed from 10 px
        left: 30%;

        @include mobile {
          left: 0;
          display: flex;
          justify-content: center;
          bottom: 20px;
        }
        .arrowContainer{
          width: 150px;
          height: 200px;
          display: flex;
          flex-direction:column-reverse;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .arrow1 {
            transition: all .3s ease;
            width: 200px;
            height: 3px;
            background-color: $textColor1;
            transform-origin: left;
            transform: rotate(45deg);
            animation: arrowBlink 2s infinite;
            &.active{
              background-color: $textColor3;
            }
          }
          .arrow2 {
            transition: all .3s ease;
            width: 200px;
            transform: rotate(-45deg);
            height: 3px;
            background-color: $textColor1;
            transform-origin: right;
            animation: arrowBlink 2s infinite;
            &.active{
              background-color: $textColor3;
            }
          }
        }
        @keyframes arrowBlink {

          100%{
            opacity: 0;
          }
        }
      }
    }
  }
}
