.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/myPicture/clouds.jpg');
    background-size: cover;
    background-position: center;
}
